@import '/src/styles/variables.scss';

.button {
  display: inline-flex;
  align-items: center;
  height: $unit-1000;
  padding-left: $unit-0400;
  padding-right: $unit-0400;
  color: var(--color-gray-000);
  font-family: $font-family;
  font-size: 1rem;
  text-decoration: none;
  border: 0;
  border-radius: $unit-0100;
  background-color: var(--color-primary-300);
  appearance: none;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;

  &:focus {
    outline: solid 2px var(--color-primary-300);
    outline-offset: 2px;
  }

  &:active,
  &:hover {
    background-color: var(--color-primary-500);
  }

  &:disabled {
    color: var(--color-gray--500);
    background: var(--color-gray-300);
    cursor: default;
  }
}
